/* 
  FONTS:
    EB Garamond
      72px (main header)
      28px (section header)
      22px (article header)
    Inter:
      16px (main font-size)
      20px (section description)
      14px (footer soc links)

  COLORS:
    Main Font: #F5F5F5
    Black section BG: #000
    Yellow section BG: #FEE42A
    Yellow section Font: #131313
    Gray card BG: #343434
*/

