/* 
  FONTS:
    EB Garamond
      72px (main header)
      28px (section header)
      22px (article header)
    Inter:
      16px (main font-size)
      20px (section description)
      14px (footer soc links)

  COLORS:
    Main Font: #F5F5F5
    Black section BG: #000
    Yellow section BG: #FEE42A
    Yellow section Font: #131313
    Gray card BG: #343434
*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5f5f5;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #131313;
}

.content-section {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  line-height: 21.6px;
  inline-size: 360px;
}

.content-section_theme_dark,
.content-section_theme_bright {
  gap: 32px;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  padding-block: 24px;
}

.header__logo-image {
  inline-size: 78.45px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #fff;
  text-underline-offset: 4px;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover__title {
  display: block;
  padding-block-start: 7px;
  padding-block-end: 5px;
  font-family: 'EB Garamond';
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text-center {
  display: block;
  text-align: center;
}

.text-right {
  display: block;
  text-align: right;
}

.intro {
  gap: 24px;
  padding-block-start: 30px;
  padding-block-end: 38px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: #ccc;
  line-height: 19.2px;
}

.intro__title {
  font-weight: inherit;
  font-size: inherit;
}

.intro__date {
  word-wrap: break-word;
}

.reasons {
  padding-block: 40px;
}

.content-section__subtitle {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32.2px;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline-start: 10px;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding-block-start: 40px;
  padding-block-end: 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
}

.card {
  border-radius: 30px;
  padding: 20px;
}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.card__author {
  margin-block-end: 8px;
  font-weight: 700;
}

.card__author-photo {
  height: 100px;
  margin-block-end: 8px;
}

.card__title {
  margin-block-end: 8px;
  font-family: 'EB Garamond', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 29.7px;
}

.footer {
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #fee42a;
  padding: 20px;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}
